body {
    
}

.container-fluid {
    border-style: solid;
    text-align: center;
}

.centered {
    border-style: solid;
    margin: 0 auto;
    padding: 1em;
    height: 30em;
    width: 30em;
    
}

.square {
    display: inline-block;
    border-style: solid;
    height: 8em;
    width: 8em;
    margin: .5em
}

footer {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2em;
}